name: deploy website
on: [push]
jobs:
  deploy_to_vercel:
    name: Deploy To Vercel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
          with:
            node-version: "14"      
      # - run: npm install
      # - run: npm run lint
      # - run: npm run build
      # - uses: amondnet/vercel-action@v20 #deploy
      #   with:
      #     vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required                    
      #     vercel-org-id: ${{ secrets.ORG_ID}} #Required
      #     vercel-project-id: ${{ secrets.PROJECT_ID}} #Required
          
